<!DOCTYPE html>
<html lang="it">

<head>
    <title>Piccolo Grande Mondo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    
</head>

<body>

    <div class="container-contact100">
        <div class="wrap-contact150">
            <span class="contact100-form-title">
                Dasboard
            </span>
            {{#if message_suces}}
					<h4 class="alert alert-success mt-4">{{message_suces}}</h4>
			{{/if}}
            {{#if message_warn}}
					<h4 class="alert alert-warning mt-4">{{message_warn}}</h4>
			{{/if}}
            {{#if message_error}}
					<h4 class="alert alert-danger mt-4">{{message_error}}</h4>
			{{/if}}
                <table style="border-spacing: 10px; margin-bottom: 25px;">
                    <tr>
                        <td>
                            <p style="font-size: 20px; width: 280px; margin-right: 200px;">Seleziona scheda:</p>
                        </td>
                        <td>
                            <div style="float: left; margin-left: 80px;width: 130px; max-height: 50px" class="wrap-contact100-form-btn">
                                <div class="contact100-form-bgbtn"></div>
                                <form method="POST" action="/insert/make">
                                    <button class="contact100-form-btn" id="crea_scheda" name="crea_scheda" type="submit">
                                        <span>
                                            Crea Scheda
                                        </span>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="wrap-contact100-form-btn" style="margin-bottom: 25px;">
                    <div class="contact100-form-bgbtn"></div>
                    <form method="POST" action="/Dasboard">
                        <button class="contact100-form-btn" id="crea_scheda" name="crea_scheda" type="submit">
                            <span>
                                Aggiorna
                            </span>
                        </button>
                    </form>
                </div>
                <table id="list_PG" style="border-spacing: 10px">
                    {{#if list_pg}}
                        <script>
                            const root_element = document.getElementById('list_PG');
                            var max = "{{list_pg}}";
                            var id_scheda_temp = "{{id}}";
                            var name_temp = "{{name}}";
                            var id_scheda = id_scheda_temp.split(",");
                            var name_pg = name_temp.split(",");
                            for (let index = 0; index<max; index++) {
                                var list_pg = `
                                        <tr id="Scheda_${index}">
                                            <td>
                                                <p style="width: 280px; margin-right: 10px;"><b>Id Scheda:</b> ${id_scheda[index]}</p>
                                            </td>
                                            <td>
                                                <p style="width: 255px; margin-right: 10px;"><b>Nome PG:</b> ${name_pg[index]}</p>
                                            </td>
                                            <td>
                                                <form method="POST" action="/edit/delete"> 
                                                    <input style="visibility: hidden;" id="id_scheda" name="id_scheda" value="${id_scheda[index]}">                 
                                                    <button  class="button_del" type="submit">
                                                        <i class="fa fa-trash m-l-7" aria-hidden="true"></i>
                                                    </button>
                                                </form>
                                            </td>
                                            <td>
                                                <form method="POST" action="/edit/edit">
                                                    <input style="visibility: hidden;" id="id_scheda" name="id_scheda" value="${id_scheda[index]}">
                                                    <button style="margin-right: 0px;" class="button_opt">
                                                        <i class="fa fa-pencil-square-o m-l-7" aria-hidden="true"></i>
                                                    </button>
                                                </form>
                                            </td><br>
                                        </tr>
                                    `;
                                root_element.insertAdjacentHTML('beforeend', list_pg);
                            }
                        </script>
                    {{/if}}
                </table>
        </div>
    </div>

    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <!-- <script src="routes/Dasboard.js"></script> -->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>
    <script>
        $(".selection-2").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect1')
        });
    </script>
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <script src="js/main.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-23581568-13');
    </script>
    <!-- <script src="js/loaad_pg_dasboard.js"></script> -->

</body>
</html>
