<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="{{Title}}">
  <meta name="description" content="{{text}}">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <meta content="BlogPost" property="og:title" />
  <meta content="Sito WEB per la creazione Schede PG e Missioni da usare con il BOT Il Maggiordomo"
    property="og:description" />
  <meta content="https://tisifea.duckdns.org/" property="og:url" />
  <meta content="https://tisifea.duckdns.org/images/stemma_gilda_f.png" property="og:image" />
  <meta content="#43B581" data-react-helmet="true" name="theme-color" />
  <meta property="og:type" content="website">
  <title>Post {{Title}}</title>
  <link rel="icon" type="image/jpg" href="../images/Logo_bot.jpg">
  <link rel="stylesheet" href="../css/nicepage.css" media="screen">
  <link rel="stylesheet" href="../css/Post.css" media="screen">
  <link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <script class="u-script" type="text/javascript" src="../js/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="../jS/nicepage.js" defer=""></script>
  <meta name="generator" content="Nicepage 3.16.0, nicepage.com">
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  <script type="application/ld+json">
  {
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"url": "/",
		"logo": "../images/stemma_gilda_f.png"
  }
  </script>
  <link rel="canonical" href="/">
</head>

<body class="u-body">
  <header class="u-border-2 u-border-grey-75 u-clearfix u-header u-sticky u-white u-header" id="sec-8d3a">
    <div class="u-clearfix u-sheet u-sheet-1">
      <a href="/" class="u-image u-logo u-image-1" data-image-width="2000" data-image-height="1333">
        <img src="../images/stemma_gilda_f.png" class="u-logo-image u-logo-image-1" data-image-width="64">
      </a>
      <nav class="u-align-right u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
          <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
            href="#">
            <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
            </svg>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs>
                <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </symbol>
              </defs>
            </svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-spacing-30 u-unstyled u-nav-1">
            <li class="u-nav-item"><a
                class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                href="/" style="padding: 10px 0px;">Home</a>
            </li>
            <li class="u-nav-item"><a
                class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90 active"
                href="/blogpost" style="padding: 10px 0px;">BlogPost</a>
            </li>
            <li class="u-nav-item"><a
                class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                href="/login" style="padding: 10px 0px;">Dashboard</a>
            </li>
            {{#if master}}
            <li class="u-nav-item"><a
                class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                href="/dashboard-mission" style="padding: 10px 0px;">Missions</a>
            </li>
            {{/if}}
            {{#if loged}}
            <li class="u-nav-item">
              <form method="POST" action="/logout">
                <button
                  class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                  type="submit" style="padding: 10px 0px;">Logout</button>
              </form>
            </li>
            {{/if}}
          </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/" style="padding: 10px 0px;">Home</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/blogpost"
                    style="padding: 10px 0px;">BlogPost</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/login"
                    style="padding: 10px 0px;">Dashboard</a>
                </li>
                {{#if master}}
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/dashboard-mission"
                    style="padding: 10px 0px;">Missions</a>
                </li>
                {{/if}}
                {{#if loged}}
                <li class="u-nav-item">
                  <form class="u-button-style u-nav-link" style="padding: 10px 0px;" method="POST" action="/logout">
                    <button class="custom_logout" type="submit">Logout</button>
                  </form>
                </li>
                {{/if}}
              </ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav>
    </div>
  </header>

  <section class="u-align-center u-clearfix u-image u-section-1" id="sec-f224" data-image-width="2000"
    data-image-height="1333">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-container-style u-expanded-width u-post-details u-radius-45 u-shape-round u-white u-post-details-1">
        <div class="u-container-layout u-valign-bottom u-container-layout-1">
          <h2 class="u-blog-control u-text u-text-1">
            {{Title}}
          </h2>
          <img alt="" class="u-blog-control u-expanded-width u-image u-image-default u-image-1" src="{{Img}}">
          <div class="u-blog-control u-metadata u-text-grey-30 u-metadata-1">
            <span class="u-meta-date u-meta-icon">
              {{date}}
            </span>
            <span class="u-meta-category u-meta-icon">
              {{Famiglia}}
            </span>
            <span class="u-meta-comments u-meta-icon">
              Tag: {{Tag}}
            </span>
          </div>
          <div class="u-align-justify u-blog-control u-post-content u-text u-text-2">
            {{text}}
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-7fbf">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">Copyright 2020-2021 Alexkill536ITA - All Rights Reserved to
        Bjarka Energy®.</p>
    </div>
  </footer>
</body>

</html>