<!DOCTYPE html>
<html style="font-size: 16px;" lang="it">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="Scheda PG">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <meta content="Tisifea" property="og:title" />
  <meta content="Sito WEB per la creazione Schede PG e Missioni da usare con il BOT **Il Maggiordomo**" property="og:description" />
  <meta content="https://tisifea.duckdns.org/" property="og:url" />
  <meta content="https://tisifea.duckdns.org/images/stemma_gilda_f.png" property="og:image" />
  <meta content="#43B581" data-react-helmet="true" name="theme-color" />
  <title>Profilo</title>
  <link rel="icon" type="image/jpg" href="../images/Logo_bot.jpg">
  <link rel="stylesheet" href="/css/nicepage.css" media="screen">
  <link rel="stylesheet" href="/css/Profilo.css" media="screen">
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <script class="u-script" type="text/javascript" src="../js/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="../js/nicepage.js" defer=""></script>
  <meta name="generator" content="Nicepage 3.16.0, nicepage.com">
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">


  <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"url": "/",
		"logo": "../images/stemma_gilda_f.png"
}</script>
  <meta property="og:title" content="Profilo">
  <meta property="og:type" content="website">
  <meta name="theme-color" content="#478ac9">
  <link rel="canonical" href="/">
  <meta property="og:url" content="index.hbs">
</head>

<body class="u-body">
  <header class="u-border-2 u-border-grey-75 u-clearfix u-header u-sticky u-white u-header" id="sec-8d3a">
    <div class="u-clearfix u-sheet u-sheet-1">
      <a href="/" class="u-image u-logo u-image-1" data-image-width="2000" data-image-height="1333">
        <img src="../images/stemma_gilda_f.png" class="u-logo-image u-logo-image-1" data-image-width="64">
      </a>
      <nav class="u-align-right u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
          <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
            href="#">
            <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
            </svg>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs>
                <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </symbol>
              </defs>
            </svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-spacing-30 u-unstyled u-nav-1">
            <li class="u-nav-item"><a
                class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                href="/" style="padding: 10px 0px;">Home</a>
            </li>
            <li class="u-nav-item"><a
                class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                href="BlogPost.html" style="padding: 10px 0px;">BlogPost</a>
            </li>
            <li class="u-nav-item"><a
                class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90 active"
                href="/login" style="padding: 10px 0px;">Dashboard</a>
            </li>
            {{#if master}}
            <li class="u-nav-item"><a
                class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                href="/dashboard-mission" style="padding: 10px 0px;">Missions</a>
            </li>
            {{/if}}
            <li class="u-nav-item">
              <form method="POST" action="/logout">
                <button
                  class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                  type="submit" style="padding: 10px 0px;">Logout</button>
              </form>
            </li>
          </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/" style="padding: 10px 0px;">Home</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="BlogPost.html"
                    style="padding: 10px 0px;">BlogPost</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/login"
                    style="padding: 10px 0px;">Dashboard</a>
                </li>
                {{#if master}}
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/dashboard-mission"
                    style="padding: 10px 0px;">Missions</a>
                </li>
                {{/if}}
                <li class="u-nav-item">
                  <form class="u-button-style u-nav-link" style="padding: 10px 0px;" method="POST" action="/logout">
                    <button class="custom_logout" type="submit">Logout</button>
                  </form>
                </li>
              </ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav>
    </div>
  </header>

  <section class="u-align-center u-clearfix u-image u-section-1" id="sec-05f2" data-image-width="2000"
    data-image-height="1333">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-container-style u-expanded-width u-group u-radius-30 u-shape-round u-white u-group-1">
        <div class="u-container-layout u-valign-top u-container-layout-1">
          <h1 class="u-align-center u-text u-text-1">Scheda PG</h1>
          <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
              <div class="u-layout-col">
                <div class="u-size-30">
                  <div class="u-layout-row">
                    <div class="u-align-center u-container-style u-layout-cell u-size-20 u-layout-cell-1">
                      <div class="u-container-layout u-valign-middle-xl u-container-layout-2">
                        <h3 class="u-align-center-lg u-text u-text-2">Nome</h3>
                        <p class="u-text u-text-3">{{nome_pg}}</p>
                        <div
                          class="border_custom u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-circle u-image-1 border_custom"
                          alt="" data-image-width="400" data-image-height="265"></div>
                      </div>
                    </div>
                    <div class="u-align-center u-container-style u-layout-cell u-size-20 u-layout-cell-2">
                      <div class="u-container-layout u-valign-middle-xl u-container-layout-3">
                        <h3 class="u-text u-text-4">Razza</h3>
                        <p class="u-text u-text-5">{{razza_pg}}</p>
                        <div class="border_custom u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-circle u-image-2"
                          alt="" data-image-width="400" data-image-height="265"></div>
                      </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-3">
                      <div class="u-container-layout u-valign-middle-xl u-container-layout-4">
                        <h3 class="u-align-center u-text u-text-6">Livello</h3>
                        <p class="u-align-center u-text u-text-7">{{level_pg}}</p>
                        <div class="border_custom u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-circle u-image-3"
                          alt="" data-image-width="400" data-image-height="265"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="u-size-30">
                  <div class="u-layout-row">
                    <div class="u-align-center-xs u-container-style u-layout-cell u-size-20 u-layout-cell-4">
                      <div
                        class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-top-xl u-container-layout-5">
                        <div class="border_custom u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-circle u-image-4"
                          style="background-image: url('{{img_class}}');" alt="" data-image-width="400"
                          data-image-height="265"></div>
                        <h3
                          class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-text u-text-8">
                          Classe</h3>
                        <p
                          class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-text u-text-9">
                          {{classe_pg}}</p>
                      </div>
                    </div>
                    <div
                      class="u-align-center-md u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-size-20 u-layout-cell-5">
                      <div
                        class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-valign-top-xl u-container-layout-6">
                        <div class="border_custom u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-circle u-image-5"
                          style="background-image: url('{{img_class_sot}}');" alt="" data-image-width="400"
                          data-image-height="265"></div>
                        <h3 class="u-align-center-lg u-align-center-xl u-text u-text-10">Sottoclasse</h3>
                        <p class="u-align-center-lg u-align-center-xl u-text u-text-11">{{sotto_classe_pg}}</p>
                      </div>
                    </div>
                    <div
                      class="u-align-center-md u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-size-20 u-layout-cell-6">
                      <div
                        class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-valign-top-xl u-container-layout-7">
                        <div class="border_custom u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-circle u-image-6"
                          alt="" data-image-width="400" data-image-height="265"></div>
                        <h3 class="u-align-center-lg u-align-center-xl u-text u-text-12">Background</h3>
                        <p class="u-align-center u-text u-text-13">{{background_pg}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                {{#if render_mult}}
                <div class="u-size-30">
                  <div class="u-layout-row">
                    <div class="u-align-center-xs u-container-style u-layout-cell u-size-20 u-layout-cell-4">
                      <div
                        class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-top-xl u-container-layout-5">
                        <div class="border_custom u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-circle u-image-4"
                          style="background-image: url('{{img_class_multi}}');" alt="" data-image-width="400"
                          data-image-height="265"></div>
                        <h3
                          class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-text u-text-8">
                          Multiclasse</h3>
                        <p
                          class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-text u-text-9">
                          {{classe_multi}}</p>
                      </div>
                    </div>
                    <div
                      class="u-align-center-md u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-size-20 u-layout-cell-5">
                      <div
                        class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-valign-top-xl u-container-layout-6">
                        <div class="border_custom u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-circle u-image-5"
                          style="background-image: url('{{img_class_sot_multi}}');" alt="" data-image-width="400"
                          data-image-height="265"></div>
                        <h4 class="u-align-center-lg u-align-center-xl u-text u-text-10">Sotto Multiclasse</h4>
                        <p class="u-align-center-lg u-align-center-xl u-text u-text-11">{{sot_classe_multi}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                {{/if}}
              </div>
            </div>
          </div>
          <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-2">
            <div class="u-layout">
              <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-7">
                  <div class="u-container-layout u-valign-top u-container-layout-8">
                    <h2 class="u-align-center u-text u-text-14">Statistiche</h2>
                    <div class="u-align-center-xl u-container-style u-expanded-width u-group u-group-2">
                      <div
                        class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-container-layout-9">
                        <h4 class="u-align-right u-text u-text-15">Forza:&nbsp;</h4>
                        <div
                          class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xs u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-circle u-image-7"
                          alt="" data-image-width="400" data-image-height="265"></div>
                        <p class="u-align-left u-text u-text-16">{{forza_pg}}</p>
                      </div>
                    </div>
                    <div
                      class="u-align-center-lg u-align-center-xl u-container-style u-expanded-width u-group u-group-3">
                      <div
                        class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-container-layout-10">
                        <h4 class="u-align-right u-text u-text-17">Destrezza:&nbsp;</h4>
                        <div class="u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-circle u-image-8" alt=""
                          data-image-width="400" data-image-height="265"></div>
                        <p class="u-align-left u-text u-text-18">{{destrezza_pg}}</p>
                      </div>
                    </div>
                    <div
                      class="u-align-left-sm u-align-left-xs u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-group-4">
                      <div class="u-container-layout u-valign-middle u-container-layout-11">
                        <h4 class="u-align-right u-text u-text-19">Costituzione:&nbsp;<br>
                        </h4>
                        <div class="u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-circle u-image-9" alt=""
                          data-image-width="400" data-image-height="265"></div>
                        <p class="u-align-left u-text u-text-20">{{costituzione_pg}}</p>
                      </div>
                    </div>
                    <div class="u-container-style u-expanded-width u-group u-group-5">
                      <div
                        class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-container-layout-12">
                        <h4 class="u-align-right u-text u-text-21">Intelligenza:&nbsp;</h4>
                        <div class="u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-circle u-image-10" alt=""
                          data-image-width="400" data-image-height="265"></div>
                        <p class="u-align-left u-text u-text-22">{{intelligenza_pg}}</p>
                      </div>
                    </div>
                    <div class="u-align-center-xl u-container-style u-expanded-width u-group u-group-6">
                      <div class="u-container-layout u-valign-middle u-container-layout-13">
                        <h4 class="u-align-right u-text u-text-23">Saggezza:&nbsp;</h4>
                        <div class="u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-circle u-image-11" alt=""
                          data-image-width="400" data-image-height="265"></div>
                        <p class="u-align-left u-text u-text-24">{{saggezza_pg}}</p>
                      </div>
                    </div>
                    <div class="u-container-style u-expanded-width u-group u-group-7">
                      <div class="u-container-layout u-valign-middle u-container-layout-14">
                        <h4 class="u-align-right u-text u-text-25">Carisma:&nbsp;</h4>
                        <div class="u-hidden-md u-hidden-sm u-hidden-xs u-image u-image-circle u-image-12" alt=""
                          data-image-width="400" data-image-height="265"></div>
                        <p class="u-align-left u-text u-text-26">{{carisma_pg}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-8">
                  <div class="u-container-layout u-valign-top u-container-layout-15">
                    <img
                      class="u-align-center u-border-2 u-border-grey-75 u-expanded-width u-image u-image-round u-radius-30 u-image-13"
                      src="{{avatar_pg}}" alt="" data-image-width="2000" data-image-height="1333">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="u-container-style u-expanded-width-xl u-group u-group-8">
            <div class="u-container-layout u-container-layout-16">
              <h2 class="u-align-left u-text u-text-27">Avatar URL</h2>
              <p class="u-align-left u-text u-text-28">{{avatar_pg_url}}</p>
            </div>
          </div>
          <div class="u-container-style u-expanded-width u-group u-group-9 ">
            <div class="u-container-layout u-container-layout-17 ">
              <h2 class="u-text u-text-29">Descrizione</h2>
              <p class="u-text u-text-30">{{descrizone}}<br>
              </p>
            </div>
          </div>
          <script>
            const root_element = document.getElementById('sec-05f2');
            function cancell_create(id_scheda, nome_pg) {
              var tempplate = `<div id="alert_cancell">
                <div id="alert_cancell_are">
                  <div class="wrap-contact150">
                    <span class="contact100-form-title">
                      Sei sicuro di volere cancellare il PG?
                                            </span>
                    <P>Questa azione non può essere annullata. Questo cancellerà definitivamente il PG <b>${nome_pg}</b>\nSi prega di digitare <b>${nome_pg}</b> per confermare.</P><br>
                      <form method="POST" action="/edit/delete" style="dispaly= block; felx-wrap: wrap;">
                        <div class="wrap-input100">
                          <input style="width: 0px;height 0px; visibility: hidden;" type="hidden" id="id_scheda_delete" name="id_scheda_delete" value="${id_scheda}">
                            <input style="width: 0px;height 0px; visibility: hidden;" type="hidden" id="nome_delete" name="nome_delete" value="${nome_pg}">
                              <input style="border: none;" class="u-border-2 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white" type="text" id="check_delete" name="check_delete" placeholder="Inserire Nome PG">
                          </div>
                          <div class="container-contact100-form-btn">
                          <div class="wrap-contact100-form-btn">
                            <div class="contact100-form-bgbtn"></div>
                            <button id="btn_sub" class="custom_button_del" submit="submit" >
                              <span>
                                Elimina
                              </span>
                            </button>
                          </div>
                        </div>
                      </form>
                            <div class="container-contact120-form-btn">
                              <div class="wrap-contact120-form-btn">
                                <div class="contact120-form-bgbtn"></div>
                                <button id="btn_cancel" class="custom_button" onclick="cancell_destroy()">
                                  <span>
                                    Annulla
                                 </span>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>`;
              root_element.insertAdjacentHTML('afterend', tempplate);
            }
            function cancell_destroy() {
              var element = document.getElementById('alert_cancell');
              element.remove();
            }
          </script>
          <button class="custom_button_del" onclick="cancell_create('{{id_scheda}}','{{nome_pg}}')">ELIMINA SCHEDA <i
              class="fa fa-trash m-l-7" aria-hidden="true"></i></button>
          <a href="/login" class="custom_button u-align-center">Torna Indietro </a>
        </div>
      </div>
    </div>
  </section>

  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-7fbf">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">Copyright 2020-2021 Alexkill536ITA - All Rights Reserved to
        Bjarka Energy®.</p>
    </div>
  </footer>
</body>

</html>