<!DOCTYPE html>
<html lang="it">

<head>
    <title>Tisifea</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/jpg" href="images/Logo_bot.jpg" />
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <div class="navbar navbar-expand-sm fixed-top">
        <div class="container-contact100-form-btn">
            <div class="wrap-contact100-form-btn">
                <div class="contact100-form-bgbtn"></div>
                <form method="POST" action="/logout">
                    <button class="contact100-form-btn">
                        <span>
                            Logout
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="container-contact100">
        <div class="wrap-contact150">
            <form class="contact100-form validate-form">
                <span class="contact100-form-title">
                    Edit PG
                </span>
                <div>
                    <h5>Nome PG</h5>
                    <div>
                        <p>{{nome_pg}}</p>
                    </div>
                </div><br>
                <div>
                    <h5>Razza</h5>
                    <div>
                        <p>{{razza_pg}}</p>
                    </div>
                </div><br>
                <div>
                    <h5>Classe</h5>
                    <div>
                        <p>{{classe_pg}}</p>
                    </div>
                </div><br>
                <div>
                    <h5>Background</h5>
                    <div>
                        <p>{{background_pg}}</p>
                    </div>
                </div><br>
                <div class="wrap-input100 validate-input" data-validate="monete">
                    <h5>Monete</h5>
                    <p>Oro: {{monete_pg}}mo</p>
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Message is required">
                    <h5 style="margin-bottom: 10px">Inventario</h5>
                    <ul id="inventorilist">
                        {{#if object_nome}}
                            <script>
                                const root = document.getElementById('inventorilist');
                                const obj_nome = new Array({{{object_nome}}});
                                const obj_quan = new Array({{{object_quan}}});
                                const obj_note = new Array({{{object_note}}});
                                for (var i in obj_nome) {
                                    var list_pg = `
                                        <li>
                                            <h6>Nome oggetto:</h6>
                                            <div>
                                                <p>${obj_nome[i]}</p>
                                            </div>
                                            <h6>Quantità:</h6>
                                            <div>
                                                <p>${obj_quan[i]}</p>
                                            </div>
                                            <h6>Note:</h6>
                                            <div>
                                                <p>${obj_note[i]}</p>
                                            </div>
                                            <p>----------------------------------------------------------------------------------------------------</p>
                                        </li>
                                    `;
                                    root.insertAdjacentHTML('beforeend', list_pg);
                                }
                            </script>
                        {{/if}}
                    </ul>
                </div>
            </form>
            <div  class="container-contact120-form-btn">
                <div class="wrap-contact120-form-btn">
                    <div class="contact120-form-bgbtn"></div>
                    <button id="btn_cancel" class="contact120-form-btn" onclick="cancel()">
                        <span>
                            Annulla
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    {{!-- <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>
    <script>
        $(".selection-2").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect1')
        });
    </script>
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <script src="js/main.js"></script> --}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>-->
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-23581568-13');
    </script>
    <script>
        function cancel(){
            var domanda = confirm("Sei sicuro di voler Annullare?");
            if (domanda === true) {
                location.href = '/dashboard';  
            }dashboard
        }
    </script>

</body>
</html>
